apiVersion: v1
kind: Service
metadata:
  labels:
    task: monitoring
  name: blackbox-exporter 
  namespace: {{ data.namespace }} 
spec:
  ports:
  - port: 9115
    targetPort: 9115
  selector:
    name: blackbox-exporter
