apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: sample_application-deployment
  namespace: {{ data.namespace }}
spec:
  maxReplicas: 10
  minReplicas: 2
  scaleTargetRef:
    apiVersion: apps/v1beta1
    kind: Deployment
    name: sample_application-deployment
  targetCPUUtilizationPercentage: 80
