apiVersion: v1
data:
  newrelic_license: 11111111111111111111111111111111111111111111111111111111
kind: Secret
metadata:
  name: mysecret
{%- if data.runtime_env == 'dev' %}
  namespace: alexrhino
{%- else %}
  namespace: alexrhino-{{ data.runtime_env }}
{%- endif %}
type: Opaque
