{
    "Version": "2008-10-17",
    "Statement": [
        {
            "Sid": "AllowProdPushPull",
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                  "arn:aws:iam::222222222222:role/nodes.alexrhino.k8s.local",
                ]
            },
            "Action": [
                "ecr:GetDownloadUrlForLayer",
                "ecr:BatchGetImage",
                "ecr:BatchCheckLayerAvailability"
            ]
        }
    ]
}
